PORT=10000
DEBUG=True
DATABASE_URL=sqlite:///./elite_gym.db
SECRET_KEY=your_secret_key_here
MONGODB_URL=mongodb+srv://your_user:your_password@cluster0.mongodb.net/your_db

# Cloudinary (for media uploads)
CLOUDINARY_CLOUD_NAME=your_name
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret

# SMTP (for notifications)
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
